<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002255485744-h8qm18f6dripslpo3sm4a3t8qrk2126u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002255485744-h8qm18f6dripslpo3sm4a3t8qrk2126u</string>
	<key>API_KEY</key>
	<string>AIzaSyCormldWznhBQ_fbIVKQvIbGjblmygOyJY</string>
	<key>GCM_SENDER_ID</key>
	<string>1002255485744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krom.goHabits</string>
	<key>PROJECT_ID</key>
	<string>habitsgo-d9937</string>
	<key>STORAGE_BUCKET</key>
	<string>habitsgo-d9937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002255485744:ios:ba946e77092eb1cb67d6f5</string>
</dict>
</plist>
